.signinOpened{
  border-radius: 10px;
  background: rgba(220, 220, 240, 0.8);
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  width: 400px;
  border: solid rgb(80, 80, 100) 2px;
  color: black;
  font-family: 'Century Gothic', sans-serif;
  padding-top: 10px;
  padding-bottom: 10px;
  transition: 0.5s;
}

.signinOpened h3{
  font-weight: normal;
  font-size: 24px;
}

.signinOpened .error-msg{
  font-family: Verdana, Geneva, sans-serif;
  font-size: 12px;
  text-align: left;
  margin-left: 20px;
  color: rgb(200, 0, 0);
}

.signinOpened label{
  margin-left: 20px;
  font-weight: normal;
  font-size: 16px;
  text-align: left;
}

.signinOpened input{
  background: none;
  color: black;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 3px;
  font-size: 16px;
  font-family: arial, sans-serif;
  border: none;
  border-bottom: 2px rgb(80, 80, 100) solid;
  margin-bottom: 16px;
  padding-top: 3px;
  padding-bottom: 5px;
  width: 90%;
  outline: none;
}

.signinOpened input:focus{
  border-bottom: 2px rgb(120, 120, 180) solid;
}

.signinOpened .signin{
  color: white;
  background: rgb(45, 95, 225);
  font-size: 16px;
  /* border: black 1px solid; */
  border: none;
  border-radius: 6px;
  width: 100px;
  padding: 8px;
  margin: 0px 10px;
  margin-top: 10px;
}

.signinOpened .signin:hover{
  cursor: pointer;
  background: rgb(0, 0, 205);
}

.signinOpened .register{
  color: rgb(0, 0, 200);
  background: none;
  font-size: 14px;
  /* border: black 1px solid; */
  border: none;
  border-radius: 6px;
  padding: 6px;
  margin: 0px 10px;
  margin-top: 2px;
}

.signinOpened .register:hover{
  cursor: pointer;
  color: rgb(0, 0, 100);
}
