.profile{
  text-align: center;
  margin: 0 auto;
}

.profile-container{
  text-align: center;
  border-radius: 10px;
  background: rgba(220, 220, 240, 0.8);
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  width: 500px;
  border: solid rgb(80, 80, 100) 2px;
  color: black;
  font-family: 'Century Gothic', sans-serif;
  padding-top: 10px;
  padding-bottom: 10px;
  transition: 0.5s;
}

.hidden{
  display: none;
}

.note{
  color: rgb(200, 0, 0);
  font-family: Verdana, Geneva, sans-serif;
  font-size: 12px;
  margin: 10px 50px 0px 50px;
  border: solid rgb(200, 0, 0) 1px;
}

.emptyUploadImg {
  border-radius: 50%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border: rgb(50,50,50) solid;
  background-color: rgb(150,150,150);
  margin: 20px;
  height: 150px;
  width: 150px;
}

.uploadImg{
  margin: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  height: 150px;
  width: 150px;
  border: white solid;
  border-radius: 50%;
}

img:hover{
  cursor: pointer;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
}

.selectFile{
  position: center;
  color: white;
  background: rgb(45, 95, 225);
  font-size: 16px;
  border: none;
  border-radius: 6px;
  width: 100px;
  padding: 8px;
  margin: 0px 10px;
  margin-top: 10px;
  text-align: center;
}

.selectFile:hover {
  cursor: pointer;
  background: rgb(0, 0, 205);
}

.signout {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 0px;
  color: red;
  font-size: 12px;
}

.signout:hover{
  cursor: pointer;
  color: rgb(200, 0, 0);
}

@media only screen and (max-width: 850px) {

}

@media only screen and (max-width: 701px) {

}

@media only screen and (max-width: 580px) {

}

@media only screen and (max-width: 501px) {

  .profile-container{
    width: 250px;
    font-size: 8px;
  }

  .note{
    font-size: 6px;
    margin: 10px 20px 0px 20px;
  }

  .emptyUploadImg {
    border-radius: 50%;
    margin: 10px;
    height: 50px;
    width: 50px;
  }

  .uploadImg{
    margin: 20px;
    height: 75px;
    width: 75px;
  }

  .selectFile{
    font-size: 8px;
    width: 100px;
    padding: 4px;
    margin: 0px 4px;
  }

  .signout {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 0px;
    color: red;
    font-size: 6px;
  }

  .signout:hover{
    cursor: pointer;
    color: rgb(200, 0, 0);
  }
}
