.stats{
  position: absolute;
  margin: 0 auto;
  padding: 30px 40px 40px 40px;
  left: 250px;
  right: 0px;
}

.table-title h3{
  text-align: left;
  margin: 10px auto;
  padding-left: 20px;
  color: white;
  letter-spacing: 2px;
  font-family: 'Century Gothic', sans-serif;
  font-weight: normal;
}

.stats-container{
  color: black;
  background: rgba(220, 220, 240, 0.8);
  font-family: 'Century Gothic', sans-serif;
  border: solid rgb(80, 80, 100) 2px;
  border-radius: 10px;
  text-align: left;
  padding: 20px;
  max-height: 60vh;
  overflow: auto;

  overflow: auto;
}

.stats-table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.stats-head th {
  padding: 8px;
  font-size: 14px;
  text-align: left;
}

.stats-body {
  border-top: 1px white solid;
  border-bottom: 1px white solid;
}

.stats-body td {
  text-align: left;
  font-size: 14px;
  padding: 8px;
}

.stats-body:hover{
  background: rgba(135, 205, 255, 0.5);
}

@media only screen and (max-height: 400px), screen and (max-width: 850px) {
  .stats{
    left: 200px;
  }

  .table-title h3{
    font-size: 16px;
  }
}

@media only screen and (max-width: 730px) {
  .stats-head th {
    font-size: 10px;
  }

  .stats-body td {
    font-size: 10px;
  }
}

@media only screen and (max-width: 620) {

  .stats-head th {
    font-size: 8px;
  }

  .stats-body td {
    font-size: 8px;
  }
}
