nav {
  /* background: url("./pattern.png"); */
  background-image: linear-gradient(to right, rgb(80, 80, 100), rgb(40, 40, 60));
  display: flex;
  align-items: center;
  opacity: 0.9;
  /* background: rgba(255,255,255,0.8); */
}

.menuFlex{
  display: flex;
  justify-content: flex-start;
  width: 20%;
}

.titleFlex{
  display: flex;
  justify-content: center;
  width: 60%;
  text-align: center;
}

.signInFlex{
  width: 20%;
  justify-content: flex-end;
  display: flex;
  align-items: center;
}

.menuBox{
  margin-left: 20px;
  padding: 10px;
}

.titleBox{
  margin: 10px auto;
  padding: 10px;
}

.signInBox{
  margin-right: 20px;
  display: flex;
  align-items: center;
  padding: 10px;
}

h2{
  margin: 0 auto;
  font-weight: normal;
  font-size: 36px;
  font-family: 'Century Gothic', sans-serif;
  letter-spacing: 8px;
  padding-left: 8px;
}

.profilePhoto{
  margin-right: 10px;
}

.signInBox p{
  margin: 0 auto;
  font-family: 'Century Gothic', sans-serif;
  text-decoration: none;
}

img {
  height: 30px;
  width: 30px;
}

.new-profile-photo {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  border: solid 2px white;
}

.new-profile-photo:hover {
  cursor: pointer;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

@media only screen and (max-width: 824px) {
  h2 {
    font-size: 32px;
    letter-spacing: 6px;
  }
}

@media only screen and (max-width: 676px) {
  .titleBox{
    margin: 8px auto;
    padding: 8px;
  }

  h2 {
    letter-spacing: 6px;
    font-size: 28px;
  }

  img {
    height: 26px;
    width: 26px;
  }

  .profilePhoto{
    height: 26px;
    width: 26px;
  }

  .signInBox p{
    display: none;
  }
}

@media only screen and (max-width: 501px) {
  h2 {
    letter-spacing: 6px;
    font-size: 20px;
  }

  img {
    height: 20px;
    width: 20px;
  }

  .profilePhoto{
    height: 20px;
    width: 20px;
  }


}

@media only screen and (max-width: 401px) {
  h2 {
    letter-spacing: 6px;
    font-size: 16px;
  }

  img {
    height: 16px;
    width: 16px;
  }

  .profilePhoto{
    height: 16px;
    width: 16px;
  }

}

@media only screen and (max-width: 326px) {
  h2 {
    letter-spacing: 6px;
    font-size: 12px;
  }

  img {
    height: 12px;
    width: 12px;
  }

  .profilePhoto{
    height: 12px;
    width: 12px;
  }

}
