.App {
  text-align: center;
  color: white;
}

.fade-enter {
  opacity: 0.01;
  transform: translateY(100%);
}

.fade-enter-active {
  opacity: 1;
  transition: 400ms ease-out;
  transform: translateY(0%);
}

.fade-leave {
  opacity: 1;
  transform: translateY(0%);
}

.fade-leave-active {
  opacity: 0.01;
  transition: 400ms ease-out;
  transform: translateY(100%);
}
