.schedule{
  position: absolute;
  margin: 0 auto;
  padding: 30px 40px 40px 40px;
  left: 250px;
  right: 0px;
}

.schedule-title h3{
  text-align: left;
  margin: 10px auto;
  padding-left: 20px;
  color: white;
  letter-spacing: 2px;
  font-family: 'Century Gothic', sans-serif;
  font-weight: normal;
}

.schedule-container{
  color: black;
  background: rgba(220, 220, 240, 0.8);
  font-family: 'Century Gothic', sans-serif;
  border: solid rgb(80, 80, 100) 2px;
  border-radius: 10px;
  text-align: left;
  padding: 20px;
  max-height: 60vh;
  overflow: auto;
}

.schedule-header{
  display: flex;
  justify-content: space-between;
}

.schedule-maps{
  display: flex;
}

.map{
  display: flex;
  align-items: center;
  margin-right: 30px;
}

.map img{
  margin-left: 6px;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.tr-head{
}

th {
  padding: 8px;
  text-align: left;
}

.tr-body{
  border-top: 1px white solid;
  border-bottom: 1px white solid;
}

td {
  text-align: left;
  padding: 8px;
}

.tr-body:hover{
  background: rgba(135, 205, 255, 0.5);
}

@media only screen and (max-width: 1064px) {

  .map p{
    font-size: 12px;
  }

  .record p{
    font-size: 12px;
  }

  .schedule-container{
    max-height: 375px;
  }

  .maps img{
    width: 14px;
    height: 14px;
  }

  .maps p{
    font-size: 12px;
  }

  .record h5{
    font-size: 12px;
  }

  .scheduleTable{
    font-size: 12px;
  }

  th {
    font-size: 12px;
  }

  td {
    font-size: 12px;
  }
}

@media only screen and (max-height: 400px), screen and (max-width: 850px) {
  .schedule{
    left: 200px;
  }

  .schedule-title h3{
    font-size: 16px;
  }
}
